<div class="col-12">
    <div class="career-zone">

        <div class="career_icon career-blue">
            <img src="{{ asset('img/career/start.jpg') }}" alt="Drapeau de départ">
        </div>

        <div class="career_content">
            <h2>Naissance le 17 avril 2000</h2>
            <p>
                Je suis né le 17 avril 2000 à Boulogne sur Mer dans le Pas de Calais
            </p>
        </div>


        <div class="career_icon career_icon-red">
            <img src="{{ asset('img/career/graduation.jpg') }}" alt="Graduation">
        </div>

        <div class="career_content">
            <h2>Obtention du diplome national du brevet</h2>
            <p>
                J’ai obtenu le DNB en juin 2015  avec la mention bien.
            </p>
        </div>

        <div class="career_icon career_icon-red">
            <img src="{{ asset('img/career/graduation.jpg') }}" alt="Graduation">
            <div class="career_link_sub career_link_sub-red"></div>
        </div>

        <div class="career_content">
            <h2>Obtention du baccalauréat</h2>
            <p>
                J’ai obtenu le baccalauréat en juin 2018 le bac scientifique option science de l’ingénieur avec la
                mention très bien.
            </p>
        </div>

        <div class="career_icon">
            <div class="career_link_corner career_link_corner-red "></div>
        </div>

        <div class="career_icon career_icon_not_link align-items-start career_icon-yellow">
            <img src="{{ asset('img/career/start.jpg') }}" alt="Drapeau de départ" class="">
        </div>

        <div class="career_content career_content-sub">
            <h2>Gotobac</h2>
            <p>
                En parallèle le de mon année de terminale, j’ai développé un site web d'aide à la révision. Il
                était à destination de moi-même et de mes camarades.
            </p>
        </div>

        <div class="career_icon">
            <div class="career_link_tree_down"></div>
        </div>

        <div class="career_icon career_icon_not_link align-items-start career_icon-yellow">
            <img src="{{ asset('img/career/start.jpg') }}" alt="Drapeau de départ" class="">
        </div>

        <div class="career_content career_content-sub">
            <h2>Lait Pairies du Boulonnais</h2>
            <p>
                Durant trois mois (juillet à septembre 2018), j’ai réalisé un site de vente pour des
                yaourts produis par une coopérative d’agriculteurs : LaitPrairiesDuBoulonnais
            </p>
        </div>

        <div class="career_linker-elem">
            <div class="career_link_point"></div>
            <div class="career_link_point_middle"></div>
        </div>

        <div></div>
        <div></div>

        <div class="career_icon">
            <div class="career_link_tree_up"></div>
        </div>

        <div class="career_icon career_icon_not_link align-items-start career_icon-yellow">
            <img src="{{ asset('img/career/start.jpg') }}" alt="Drapeau de départ" class="">
        </div>

        <div class="career_content career_content-sub">
            <h2>CDD - Intersysteme</h2>
            <p>
                C’est également à partir de juin 2018 que j’ai été employé en tant que développeur informatique
                par la société Intersystème basée à Pernes-lez-Boulogne.
            </p>
        </div>

        <div class="career_icon career_icon-red">
            <img src="{{ asset('img/career/graduation.jpg') }}" alt="Graduation">
            <div class="career_link_sub career_link_sub-red"></div>
        </div>

        <div class="career_content">
            <h2>Licence Informatique</h2>
            <p>
                J’ai commencé en septembre 2018 une licence en Informatique à l’universisté du Littoral Cote
                d’Opale (site de Calais). J’ai pour l’instant obtenu la première et seconde année de
                licence.
            </p>
        </div>

        <div class="career_icon">
            <div class="career_link_corner career_link_corner-red "></div>
        </div>

        <div class="career_icon career_icon_not_link align-items-start career_icon-red">
            <img src="{{ asset('img/career/graduation.jpg') }}" alt="Graduation">
        </div>

        <div class="career_content career_content-sub">
            <h2>Obtention du DEUG</h2>
            <p>
               J'ai obtenu en 2020 le DEUG d'informatique avec la mention très bien.
            </p>
        </div>

        <div class="career_icon career_icon-end career_icon_not_link career_icon_link-top career_icon-yellow justify-content-start">
            <img src="{{ asset('img/career/start.jpg') }}" alt="Drapeau de départ" class="">
        </div>

        <div class="career_content ">
            <h2>CDI - Intersystème</h2>
            <p>
                Je travaille actuellement en paralléle de mes études pour la société Intersystème en tant que développeur informatique
                dans le domaine du Web.
            </p>
        </div>


    </div>
</div>