<footer>
    <svg viewBox="0 0 1440 126" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns="http://www.w3.org/2000/svg" class="footer_bg">
        <defs>
            <rect width="1440" height="126" id="slice_1"/>
            <clipPath id="clip_1">
                <use xlink:href="#slice_1" clip-rule="evenodd"/>
            </clipPath>
        </defs>
        <g id="Slice" clip-path="url(#clip_1)">
            <use xlink:href="#slice_1" stroke="none" fill="none"/>
            <g id="Footer">
                <path d="M0 126.5L1440 126.5L1440 47.7625C1440 47.7625 1350.51 -3.77298 1251.85 0.220675C1153.19 4.21432 972.201 105.553 766.914 101.559C561.626 97.5658 406.209 13.2001 263.704 23.1842C121.198 33.1683 0 85.0857 0 85.0857L0 126.5L0 126.5Z"
                      id="Footer" fill="#34495E" stroke="none"/>
            </g>
        </g>
    </svg>
    <div class="footer_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12 footer_border px-xl-6 pr-lg-5 p-0 ">
                    <h2>Curiculum Vitae</h2>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <a href="{{ path('cv-my_skills') }}">Mes compétences</a>
                                <a href="{{ path('cv-my_career') }}">Mon parcours</a>
                                <a href="">Mes passions</a>
                            </div>
                            <div class="col-6">
                                <a href="{{ path('cv-making') }}">Mes réalisations</a>
                                <a href="">Me contacter</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-12 footer_border px-xl-6 pl-lg-5 p-0 mt-lg-0 mt-6">
                    <h2>Silvain.eu</h2>
                    <div class="container-fluid">
                        <div class="row">
                            {% set service = GetServicesFooter() %}
                            {%- for arrayService in service -%}
                                <div class="col-6">
                                    {%- for s in arrayService -%}
                                        <a href="{{ s[1] }}">{{ s[0] }}</a>
                                    {%- endfor -%}
                                </div>
                            {%- endfor -%}
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-12 px-xl-6 px-0 mt-xl-0 mt-6">
                    <h2>Ludwig SILVAIN</h2>
                    <p class="mb-2">
                        Je suis développeur en informatique pincipalement orienté vers le web.
                        Mais j'adore découvrir de nouvelles technologie.
                    </p>
                    <ul class="me-media">
                        <li class="media-github" title="Github">
                            <a href="https://github.com/silvainlud/" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="media-linkedin" title="Linkedin">
                            <a href="https://www.linkedin.com/in/ludwig-silvain" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="media-email" title="Email">
                            <a href="mailto:contact@silvain.eu" target="_blank">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12">
                    <p class="footer_copyright">Site réalisé par : Ludwig SILVAIN | Copyright © Ludwig
                        SILVAIN {{- "now"|date('Y') -}}</p>
                </div>
            </div>
        </div>
    </div>

</footer>