<header>
    <img src="{{ asset('favicon_256.png') }}" alt="Logo de silvain.eu">
    <div class="header_separate  d-sm-block d-none"></div>
    <nav>
        <ul class=" header_menu-list">
            <li><a href="{{ path('index') }}">Accueil</a></li>
            <li><a href="{{ path('cv-my_career') }}">Parcours</a></li>
            <li><a href="{{ path('cv-my_skills') }}">Compétences</a></li>
            <li><a href="{{ path('cv-making') }}">Réalisations</a></li>
        </ul>
        <div>
            <p class="d-md-none d-sm-block d-none">
                {{ "site_name"|trans }}
            </p>
        </div>
        <div class="header_space"></div>

        <theme-switch></theme-switch>

        <a href="{{ path('contact') }}" class="app-nav-btn-text" title="Me Contacter">
            <i class="far fa-envelope-open"></i>
        </a>


        {% if app.user %}
            <a href="{{ path('db_index') }}" class="app-nav-btn-text" title="{{ 'general.menu.administration'|trans }}">
                <i class="fas fa-shield-alt"></i>
            </a>
            <div class="header_separate d-md-flex d-none"></div>
            <a href="{{ path('app_logout') }}" class="app-nav-btn-text" title="{{ 'general.menu.sign-out'|trans }}">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        {% else %}
            <div class="header_separate d-md-flex d-none"></div>
            <a href="{{ path('app_login') }}" class="app-nav-btn-text" title="{{ 'general.menu.sign-in'|trans }}">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        {% endif %}

        <div class="d-md-none d-flex align-items-center">
            <div class="header_separate"></div>
            <button class="app-nav-btn-text hambuger_icon  d-md-none" title="{{ 'general.menu.sign-in'|trans }}">
                <span></span>
            </button>
        </div>
    </nav>
</header>