<header>
    <img src="{{ asset('favicon_256.png') }}" alt="Logo de silvain.eu">
    <div class="header_separate"></div>
    <nav>
        <a href="{{ path('index') }}">Accueil</a>
        <a href="">Parcours</a>
        <a href="{{ path('cv-my_skills') }}">Compétences</a>
        <div class="header_space"></div>

        {% if app.user %}
            <a href="{{ path('db_index') }}" class="app-nav-btn">
                <i class="fas fa-shield-alt"></i>
                {{ 'general.menu.administration'|trans }}
            </a>
        {% else %}
            <a href="" class="app-nav-btn">
                <i class="far fa-envelope-open"></i>
                Me Contacter
            </a>
            <a href="{{ path('app_login') }}" class="app-nav-btn">
                {{ 'general.menu.sign-in'|trans }}
                <i class="fas fa-sign-in-alt"></i>
            </a>
        {% endif %}
    </nav>
</header>