{% extends 'dashboard/base.html.twig' %}

{% block content_class %}container-fluid{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <div class="card card-stats">
                <div class="card-content">
                    <h2>Mails reçus/envoyés</h2>
                    <p>5</p>
                </div>
                <div class="icon_skills icon_skills-blue">
                    <i class="fas fa-envelope-open-text"></i>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-stats">
                <div class="card-content">
                    <h2>Mails rejetés</h2>
                    <p>15</p>
                </div>
                <div class="icon_skills icon_skills-red">
                    <i class="fas fa-paper-plane"></i>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-stats">
                <div class="card-content">
                    <h2>Domaines managés</h2>
                    <p>{{ domains|length }}</p>
                </div>
                <div class="icon_skills icon_skills-light-black">
                    <i class="fas fa-tags"></i>
                </div>
            </div>
        </div>
        <div class="col-12 mt-6"></div>
        <div class="col-8 ">
            <h2 class="bold">Liste des domaines</h2>
            <table class="db_data-table" style="table-layout: auto">
                {% for d in domains %}
                    <tr>
                        <td class="td_icon">
                            <div class="icon_skills icon_skills-{{- cssClassRandom() -}}">
                                <i class="fas fa-tag"></i>
                            </div>
                        </td>
                        <td>
                            <h3>Nom :</h3>
                            <p>{{ d.domain }}</p>
                        </td>
                        <td>
                            <h3>Nombre de comptes :</h3>
                            <p>10<span class="small">/10</span></p>
                        </td>
                        <td>
                            <h3>Nombre d'aliases :</h3>
                            <p>10</p>
                        </td>
                        <td>
                            <h3>Etats pointeurs MX :</h3>
                            <div>
                                <div class="icon_skills icon_skills-green">
                                    <i class="fas fa-check"></i>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h3>En backup :</h3>
                            <div>
                                <div class="icon_skills icon_skills-red">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                        </td>
                        <td class="text-right" style="width: 30px">
                            <h3></h3>
                            <div>
                                <a class="app-btn app-btn-light-grey app-btn-text">
                                    <i class="fas fa-sync"></i>
                                </a>
                                <a class="app-btn app-btn-light-grey app-btn-text">
                                    <i class="fas fa-pen-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <h2 class="bold mt-4">Liste des boîtes mails</h2>
            <table class="db_data-table" style="table-layout: auto">
                {% for m in mailboxes %}
                    <tr>
                        <td class="td_icon">
                            <div class="icon_skills  icon_skills-{{- cssClassRandom() -}}">
                                <i class="fas fa-envelope"></i>
                            </div>
                        </td>
                        <td>
                            <h3>Nom :</h3>
                            <p>{{ m.username }}</p>
                        </td>
                        <td>
                            <h3>Domaine :</h3>
                            <p>{{ m.domain.domain }}</p>
                        </td>
                        <td>
                            <h3>Nombre mails reçûs :</h3>
                            <p>10<span class="small">/4Mb</span></p>
                        </td>
                        <td>
                            <h3>Redirigé :</h3>
                            <div>
                                <div class="icon_skills icon_skills-red">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                        </td>
                        <td class="text-right" style="width: 30px">
                            <h3></h3>
                            <div>
                                <a class="app-btn app-btn-light-grey app-btn-text">
                                    <i class="fas fa-sync"></i>
                                </a>
                                <a class="app-btn app-btn-light-grey app-btn-text">
                                    <i class="fas fa-pen-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-4">
            <h2 class="bold">Statistiques</h2>
        </div>
    </div>
{% endblock %}