{% extends 'index/base.html.twig' %}


{% block content %}
    <div id="silvain-eu_services">
        <h1 class="text-center">Services de Silvain.eu</h1>
        <div class="container hstack stack-center mt-5">

            {% for s in services %}

               <div>
                   <div class="card card-media-circle">
                       <div class="card-body card-centered card-body_maximize">
                           <img src="{{ path('silvaineu_service_icon', {"slug" : s.slug}) }}" alt="{{ s.slug }}"
                                class="card-media-circle">
                           <h2>{{ s.name }}</h2>
                           <p>
                               {{ s.description }}
                           </p>
                           <a href="{{ s.link }}" class="app-btn app-btn-grey app-color-plain mt-4">
                               Voir plus
                           </a>
                       </div>
                   </div>
               </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}