{% extends 'dashboard/base.html.twig' %}

{% block content_class %}container{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center mb-5">
                <h2>{{ 'cv.skills.technology.title.list'|trans }}</h2>
                <div class="flex-grow-1"></div>
                <div class="justify-content-end">
                    <a href="{{ path('db_cv_skills_technologies_add') }}" class="app-btn app-btn-green">
                        {{ 'cv.skills.technology.title.add'|trans }}
                    </a>
                </div>
            </div>
            <table class="db_data-table db_data-table_hoverable">
                <tbody>
                {% for c in technologies %}
                    <tr>
                        <td class="td_icon">
                            <div class="icon_skills" style="background-color: {{ c.color }}">
                                <img src="{{ c.displayImage }}" alt="">
                            </div>
                        </td>
                        <td class="td_key">
                            <h3>N° :</h3>
                            <p>{{ c.id }}</p>
                        </td>
                        <td>
                            <h3>{{ 'cv.skills.technology.attr.name'|trans }}</h3>
                            <p>{{ c.name }}</p>
                        </td>
                        <td class="text-right">
                            <h3></h3>
                            <div>
                                <a href="{{ path('db_cv_skills_technologies_edit', {'tech': c.id}) }}"
                                   class="app-btn app-btn-light-blue app-btn-text">
                                    <i class="fas fa-pen-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}