<!DOCTYPE html>
<html lang="fr">
<head>

    {% set _title = block('title') %}
    {% if _title is defined and _title is not empty %}
        {% set _title = _title ~ ' | ' %}
    {% endif %}
    {% set _title = _title ~  'site_name'|trans %}

    {% include('index/include/header.html.twig') with {"_title" : _title} only %}
    <title>{% block title %}{% endblock %} {% if block('title') is not empty %}| {% endif -%}{{ "site_name"|trans }}</title>


    {% block head %}{% endblock %}
    {% block  stylesheet %}{% endblock %}
    {% for js in encore_entry_js_files('app') %}
        <script src="{{ js }}" defer></script>
    {% endfor %}
    {% for js in encore_entry_js_files('index-main') %}
        <script src="{{ js }}" defer></script>
    {% endfor %}
</head>
<body>
{% include('index/include/menu_top.html.twig') with {} only %}
<main>
    {% block header %}
        <div class="header">
            <div class="header-main">
                <img src="{{ asset('img/header/icon_cloud.svg') }}" class="header_img_cloud" alt="nuage"
                     style="left: 19%;top: 1%;">
                <img src="{{ asset('img/header/icon_cloud.svg') }}" class="header_img_cloud" alt="nuage"
                     style="left: 5%;top: 37%;">
                <img src="{{ asset('img/header/icon_earth.svg') }}" class="header_img_earth" alt="terre"
                     style="top: 37%;left: 68%;width: 10vw;">
                <img src="{{ asset('img/header/icon_Rocket.svg') }}" class="header_img_rocket" alt="fusée"
                     style="top: 12%;left: 78%;width: 11vw;">
                <div class="header_content">
                    <img src="{{ asset('img/profil.jpg') }}" alt="Image de profil de Ludwig SILVAIN">
                    <div class="header_title">
                        <p class="header_title_title">Ludwig SILVAIN</p>
                        <p class="header_title_content">Developpeur Informatique</p>
                    </div>
                </div>
            </div>
            {{ source('@public_path'~asset('img/index_header.svg')) }}
        </div>
    {% endblock %}
    {% block body %}
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}
</main>
{% include('index/include/footer.html.twig') with {} only %}


{% block script %}{% endblock %}
</body>
</html>