{% extends 'index/base.html.twig' %}

{% block header %}
    <div class="header">
        <svg viewBox="0 0 1440 652" preserveAspectRatio="xMinYMin slice" fill="none" xmlns="http://www.w3.org/2000/svg" class="header_bg">
            <g filter="url(#filter0_d)">
                <path d="M1440 0H0V559.813C0 559.813 63.2803 647.418 161.938 643.897C260.595 640.375 444.457 500.822 649.744 504.344C855.031 507.865 1024.94 621.005 1167.45 612.2C1309.95 603.395 1440 559.813 1440 559.813V0Z" fill="#5FAADD"/>
            </g>
            <defs>
                <filter id="filter0_d" x="-4" y="0" width="1448" height="652" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
            </defs>
        </svg>

        <img src="{{ asset('img/header/icon_cloud.svg') }}" class="header_img_cloud" alt="nuage"
             style="left: 19%;top: 1%;">
        <img src="{{ asset('img/header/icon_cloud.svg') }}" class="header_img_cloud" alt="nuage"
             style="left: 72%;top: 8%">
        <img src="{{ asset('img/header/icon_cloud.svg') }}" class="header_img_cloud" alt="nuage"
             style="left: 5%;top: 46%;">
        <img src="{{ asset('img/header/icon_earth.svg') }}" class="header_img_earth" alt="terre"
             style="top: 51%;left: 65%;">
        <img src="{{ asset('img/header/icon_Rocket.svg') }}" class="header_img_rocket" alt="fusée"
             style="top: 29%;left: 76%;">
        <div class="header_content header_index">
            <img src="{{ asset('img/profil.png') }}" alt="">
            <div class="header_title">
                <h1>Ludwig SILVAIN</h1>
                <p>Developpeur FullStack</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="index-page">
        <div class="container who-am-i">
            <div class="row">
                <div class="col-xl-8 col-lg-6 col-12">
                    <h2>Qui suis-je ?</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar libero eget enim
                        imperdiet, et finibus tortor tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris dignissim viverra mauris non laoreet.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar libero eget enim
                        imperdiet, et finibus tortor tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris dignissim viverra mauris non laoreet dignissim viverra mauris non laoreet.
                    </p>
                </div>
                <div class="col-xl-4 col-lg-6 d-lg-block d-none">
                    <img src="{{ asset('img/illustrations/undraw_feeling_proud_qne1.png') }}" alt="Homme sur un bureau"
                         class="who-am-i_img">
                </div>
                <div class="col-12 mt-4">
                    <div class="hr-horiz"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 who-am-i_quality who-am-i_quality-purple">
                    <div class="quality_img">
                        <i class="fas fa-music"></i>
                    </div>
                    <div class="quality_content">
                        <h3>Musicien</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar libero eget enim
                            imperdiet.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 who-am-i_quality who-am-i_quality-light-blue">
                    <div class="quality_img">
                        <i class="fas fa-music"></i>
                    </div>
                    <div class="quality_content">
                        <h3>Musicien</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar libero eget enim
                            imperdiet.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 who-am-i_quality who-am-i_quality-red">
                    <div class="quality_img">
                        <i class="fas fa-music"></i>
                    </div>
                    <div class="quality_content">
                        <h3>Musicien</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar libero eget enim
                            imperdiet.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 who-am-i_quality who-am-i_quality-green">
                    <div class="quality_img">
                        <i class="fas fa-music"></i>
                    </div>
                    <div class="quality_content">
                        <h3>Musicien</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar libero eget enim
                            imperdiet.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 who-am-i_quality who-am-i_quality-yellow">
                    <div class="quality_img">
                        <i class="fas fa-music"></i>
                    </div>
                    <div class="quality_content">
                        <h3>Musicien</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar libero eget enim
                            imperdiet.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-card-circle">
            <div class="index-card-circle_main">
                <div class="index-card-circle_spacer"></div>
                <div class="index-card-circle_content">
                    <h2>L’informatique, une passion ...</h2>
                    <p>
                        Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum
                        ut
                        puta feracium multiplicantes annuos fructus, quae a primo ad ultimum solem .
                    </p>
                    <div class="justify-content-end mt-5 d-flex flex-row">
                        <a href="" class="app-btn app-btn-purple">Mon portfolio</a>
                    </div>
                </div>

                <div class="index-card-circle_spacer for-img"></div>
            </div>
            <div class="index-card-circle_img">
                <img src="{{ asset('img/illustrations/thumb-1920-176123.jpg') }}" alt="">
            </div>
        </div>
        <div class="index-contact-me">
            <img src="{{ asset('img/contact_me_background.png') }}" alt="" class="index-contact-me_background">
            <div class="index-contact-me_content">
                <h2>Me Contacter</h2>
                <p>
                    Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum
                    porta. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed
                    magna dictum porta.
                </p>
                <a href="" class="app-btn app-btn-light-black app-color-plain mt-5">Me contacter</a>
            </div>
        </div>
        <div class="index-card-circle reverse">

            <div class="index-card-circle_img">
                <img src="{{ asset('img/illustrations/Group 35.png') }}" alt="">
            </div>
            <div class="index-card-circle_main">
                <div class="index-card-circle_spacer for-img"></div>
                <div class="index-card-circle_content">
                    <h2>Mon parcours</h2>
                    <p>
                        Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum
                        ut puta feracium multiplicantes annuos fructus, quae a primo ad ultimum solem .
                    </p>
                    <div class="justify-content-end mt-5 d-flex flex-row">
                        <a href="" class="app-btn app-btn-light-blue">Mon Parcours</a>
                    </div>
                </div>

                <div class="index-card-circle_spacer"></div>
            </div>
        </div>
        <div class="container index-hub-dir mb-8">
            <div class="row">
                <div class="col-md-6 col-12">
                    <a class="index-hub-dir_item h-100">
                        <div class="index-hub-dir_content"
                             style="background:  linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ asset('img/illustrations/violin-3131552_1920.jpg') }}') center;background-size: cover">
                            <h2>Mes Passions</h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-12 d-flex flex-column">
                    <a class="index-hub-dir_item mb-md-4 m-0 h-100">
                        <div class="index-hub-dir_content"
                             style="background:  linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ asset('img/illustrations/cup-of-coffee-1280537_1920.jpg') }}') center;background-size: cover">
                            <h2>Mes réalisations</h2>
                        </div>
                    </a>
                    <a class="index-hub-dir_item h-50 mt-mb-4 m-0" href="{{ path('silvaineu_service_index') }}">
                        <div class="index-hub-dir_content"
                             style="background:  linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ asset('img/illustrations/earth-1149733.jpg') }}') center;background-size: cover">
                            <h2>Silvain.eu</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}