{% extends 'index/base.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('library/highlight/themes/atom-dark-theme.css') }}">
{% endblock %}

{% block title %}{{ realisation.name }}{% endblock %}

{% block content %}
    <div id="making_view" class="cv_article mb-10">
        <div class="cv_article_content">
            <h1>
                {{ realisation.name }}
                {% if realisation.public == false %}
                    <div class=" m-2 app-badge app-badge-small app-badge-danger" style="display: inline-grid">
                        <span>Non publié</span>
                    </div>
                {% endif %}

            </h1>
            {% if realisation.mainImage !=null %}
                <img src="{{ path('cv-making-img', {"rea" : realisation.mainImage.id }) }}"
                     alt="{{ realisation.name }} {{ "cv.making.attr.mainImage"|trans }}" class="art_miniature">
            {% endif %}
            {{ realisation.description|markdown_to_html }}
            {% if gallery|length > 0 or realisation.mainImage != null %}
                <hr>
                <div class="row cv_article-gallery grid3">
                    {% for img in [realisation.mainImage]|merge(gallery) %}
                        <div class="col-lg-4 col-md-6 col-12 mb-5">
                            <a class="cv_article-gallery-item" target="_blank"
                               href="{{ path('cv-making-img', {"rea" : img.id }) }}">
                                <img src="{{ path('cv-making-img', {"rea" : img.id }) }}"
                                     alt="{{ realisation.name }} {{ "cv.making.attr.mainImage"|trans }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div>
            <div class="art_info">
                {% if realisation.company != null or realisation.company != null or realisation.dateRelease != null or realisation.timeToMake != null or realisation.link != null %}
                    <div class="art_info-data">
                        <h2>Informations</h2>
                        <div class="art-info-table">

                            {% if realisation.company != null %}
                                <div class="art-info-table_icon">
                                    <i class="fas fa-building"></i>
                                </div>
                                <div>
                                    <h4>Entreprise</h4>
                                    <p>{{ realisation.company }}</p>
                                </div>
                            {% endif %}

                            {% if realisation.company != null %}
                                <div class="art-info-table_icon">
                                    <i class="fas fa-briefcase"></i>
                                </div>
                                <div>
                                    <h4>Employeur</h4>
                                    <p>{{ realisation.company }}</p>
                                </div>
                            {% endif %}

                            {% if realisation.dateRelease != null %}
                                <div class="art-info-table_icon">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                                <div>
                                    <h4>Date de mise en production</h4>
                                    <p>{{ realisation.dateRelease|date('M Y') }}</p>
                                </div>
                            {% endif %}

                            {% if realisation.timeToMake != null %}
                                <div class="art-info-table_icon">
                                    <i class="fas fa-clock"></i>
                                </div>
                                <div>
                                    <h4>Temps</h4>
                                    <p>{{ realisation.timeToMake }}</p>
                                </div>
                            {% endif %}

                            {% if realisation.link != null %}
                                <div class="art-info-table_icon">
                                    <i class="fas fa-link"></i>
                                </div>
                                <div>
                                    <h4>Lien</h4>
                                    <p><a href="{{ realisation.link }}">{{ realisation.link }}</a></p>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                {% endif %}
                <div class="art_info-tech">
                    {% if realisation.technologies|length >0 %}
                        <h3>Technologies Utilisées</h3>
                        {% include 'index/cv/utils/_list_techno.html.twig' with {"techno" : realisation.technologies} only %}

                        {% if linkTechno|length %}
                            <h3 class="mt-5">Technologies Indirectes</h3>
                            {% include 'index/cv/utils/_list_techno.html.twig' with {"techno" : linkTechno} only %}
                        {% endif %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script>
        document.addEventListener("turbolinks:load",hljs.initHighlighting)
    </script>
{% endblock %}

