{% extends 'index/base.html.twig' %}

{% block title %}Mes compétences{% endblock %}

{% block content %}
    <h1>Mes compétences</h1>
    <p>
        Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta
        feracium multiplicantes annuos fructus, quae a primo ad ultimum solem se abunde iactitant possidere, ignorantes
        profecto maiores suos, per quos ita magnitudo Romana porrigitur, non divitiis eluxisse sed per bella saevissima,
        nec opibus nec victu nec indumentorum vilitate gregariis militibus discrepantes opposita cuncta superasse
        virtute.
    </p>
    <div class="container">
        <div class="row">
            {% cache skills %}
                {% for c in skills %}
                    <div class="col-12">
                        <h2 class="mt-7">{{ c.name }}</h2>
                    </div>
                    {% for s in c.competences %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-5 {% if  loop.index > 8 %}d-none{% endif %}"
                             id="tech-{{- c.id -}}-{{- s.technologie.id -}}">
                            <div class="card h-100">
                                <div class="card-body card-centered card-body_maximize">
                                    {% if s.technologie.link != null %} <a href="{{ s.technologie.link }}"{% else %}<div{% endif %} class="icon_skills" style="background-color: {{ s.technologie.color }}"
                                       >
                                        <img src="{{ path('cv-technology_icon',{'slug': s.technologie.slug }) }}"
                                             alt="{{ s.technologie.name }}">
                                    </{% if s.technologie.link != null %}a{% else %}div{% endif %}>
                                    <h2 class="mt-4">{{ s.technologie.name }}</h2>
                                    <p>
                                        {{ s.technologie.description }}
                                    </p>
                                </div>
                                <div class="card-footer flex-column justify-content-center">
                                    <div class="app-badge app-badge-small app-badge-{{ s.niveau.class }}">
                                        <span>{{ s.niveau.name }}</span>
                                    </div>
                                    <div class="card-footer_spacer"></div>
                                    <div class="card-footer_icon mt-3">
                                        {% if s.autoditacte %}
                                            <i class="fas fa-home"
                                               title="{{ "cv.skills.skill.attr.autoditacte"|trans }}"></i>
                                        {% endif %}
                                        {% if s.scolaire %}
                                            <i class="fas fa-graduation-cap"
                                               title="{{ "cv.skills.skill.attr.scolaire"|trans }}"></i>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if loop.index == 8 and loop.last == false %}
                            <div class="col-12 text-center">
                                <button class="app-btn app-btn-inverse app-btn-grey" id="btn-categ-{{ c.id }}">
                                    Voir plus
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endcache %}
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        const categId = {{ skills|map(x=>x.id)|json_encode }};
        categId.forEach(function (x) {
            let btn = document.getElementById('btn-categ-' + x);
            if (btn != null)
                btn.addEventListener('click', function (e) {
                    document.querySelectorAll('*[id^="tech-' + x + '-"].d-none').forEach(function (i) {
                        i.classList.remove("d-none");
                    });
                    btn.parentElement.remove();
                });
        });
    </script>
{% endblock %}